{% extends 'base.html' %}
{% block title %}
  <title>{{title}}</title>
{% endblock %}
{% block keywords %}
  <meta name="keywords" content="{{keywords}}">
{% endblock %}
{% block description %}
  <meta name="description" content="{{description}}">
{% endblock %}
{% block content %}
  <ul class="article_list">
    {% for article in page_obj %}
      <li class="article_list_item">
        <h3 class="item_title">{{article.title}}</h3>
        <p class="item_description">{{article.description | truncatechars:120}}...</p>
        <a href="{% url 'article' article.pk %}" class="item_link">继续阅读 →</a>
        <div class="item_other">
          <div class="item"><span class="item_title">Time:</span>{{article.update_time|date:'Y-m-d'}}</div>
          <div class="item"><span class="item_title">From:</span>{{article.category.name}}</div>
          <div class="item">
            <span class="item_title">Keys:</span>
            {% for key in article.tags.all %}
              <span class="item_key">{{key}}</span>
            {% endfor %}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>

  <div class="pagination">
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}" class="pagination_item">←Pre</a>
    {% else %}
      <span class="pagination_disabled">←Pre</span>
    {% endif %}

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}" class="pagination_item">Next→</a>
    {% else %}
      <span class="pagination_disabled">Next→</span>
    {% endif %}
  </div>
{% endblock %}

